.nav{
	background: white;
	border: none;
	margin: 0;
	background-color: transparent;
	padding: 0 10vw;
	position: sticky;
	top: 0;
}

.nav nav{
	background-color: transparent;
	border-radius: 0px;
}

.navv{
	background-color: maroon;
}
.navbar-right{
	margin-top: 5vh;
}

.navbar-default .navbar-nav > li > a{
	background-color: transparent;
	color:#d10c0c;
	padding: -15px;
}

.active-page{
	border: 2.5px solid #d10c0c;
}

.navbar-brand img{
	height: 100px;
}

.main-background{
	background-image:url('C:/Users/Turb.o/Desktop/images/homepage-option-4.jpg') ;
	background-size:cover ;
}

.mid-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 88vh;
	padding-top: 10vh;
}


.tit{
   padding-top: 100px;
   font-size: 3em;
}

.web2{
	padding-top: 0px;
}

.reg{
	color: cornsilk;
	text-align: center;
	border: 1px dotted;
	background-color: darkturquoise;
    /*width: 150px;
	height: 50px;*/
	outline: none;
	border: none;
	padding: 15px 27px;
	border-radius: 5px;
	font-size: 1.4em;
}
.web{
font-size: 2em;
}

/* end of homepape styles*/



.form1{
	width: ;
}


.first{
	width: 90%;
}

.in{
	width: 95px;
	border-radius: 1.5px;
}

.tz{
    padding-top:30px;
}

.S{
	padding-top: 30px;
}

.color{
	color: cornflowerblue;
}
------



\\\\
.input{
	width: 450px;
	padding-left: 15px;
}

.label{
	padding-top: 10PX;
}

.signup{
	padding-top: 10px;
	border-radius: 5px;
}


.form{
	width: 100px;
}

.fr{
	padding-left: 300px ;
}
\\\\



.footer{
	color: white;
	border: 3px solid;
	background-color: maroon;
	padding-top: 7px;
}
.footer > * {
      margin: auto 0;
}

/*ul li{
	list-style: none;
}*/

footer .social-media img {
	margin: 0.5vw;
}